:root {
  --color-background: rgba(255, 255, 255, 0.2);
  --color-surface: #f1f1f1;
  --color-text-primary: #212529;
  --color-border: #e5e5e5;
  --color-primary: #8f87f1;
  --color-primary-dark: #6a60cc;
  --color-secondary: #c68efd;
  --color-accent: #e9a5f1;
  --color-highlight: #fed2e2;
  --color-white: #ffffff;
  --color-black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;

  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;

  background-color: var(--color-background);

  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* nav bar  */

nav {
  z-index: 1000;
  position: fixed;
  left: 20px;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.26);
  box-shadow: 0 6px 8px rgba(143, 135, 241, 0.15),
    0 1px 3px rgba(106, 96, 204, 0.1);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
  list-style-type: none;
}

.nav-links .nav-link {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: var(--color-black);
  text-decoration: none;
}
.nav-link:hover {
  background-color: var(--color-surface);
}

.cta-button {
  padding: 0.65rem 1.15rem;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(143, 135, 241, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.1s ease;
}

.cta-button:hover {
  background-color: var(--color-primary-dark);
  box-shadow: 0 8px 16px rgba(106, 96, 204, 0.3);
}
.cta-button:active {
  background-color: var(--color-secondary);
  transform: scale(0.97);
  box-shadow: 0 4px 10px rgba(198, 142, 253, 0.4);
}

/* menu-button */
.nav-toggle {
  display: none;
  background-color: var(--color-accent);
  border-radius: 8px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--color-black);
  transition: all 0.3 ease-in-out;
}

/* Responsive */
@media (max-width: 880px) {
  .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 1.5rem;
    gap: 1.7rem;
    background-color: rgba(255, 255, 255, 0.842);

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    opacity: 0;
    border-radius: 10px;
    visibility: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    z-index: 998;
  }

  .nav-links.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .nav-toggle {
    display: block;
    z-index: 999;
  }

  .nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero section  */

.hero-div .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 7rem;
  margin-bottom: 6rem;
}
.hero-img {
  max-width: 450px;
  background: linear-gradient(45deg, #c68efd, transparent);
  border-radius: 100%;
}

.hero-ai-img {
  width: 100%;
  animation: img-float 3s ease-in-out infinite;
}

/* using animation to float the .hero-div-ai-img  */

@keyframes img-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;
}

.hero-content h1 {
  font-size: 3rem;
}
.hero-content p {
  font-size: 1.6rem;
}

.hero-content span {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* responsive hero section  */

@media (max-width: 880px) {
  .hero-div .container {
    flex-direction: column;
    padding-top: 2rem;
    text-align: center;
    align-items: center;
    gap: 2rem;
  }

  .hero-content {
    justify-content: center;
    align-items: center;
  }
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-img {
    max-width: 400px;
  }
}

/* feature section  */


.feature-section .container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  box-shadow: 0 6px 8px rgba(143, 135, 241, 0.15),
    0 1px 3px rgba(106, 96, 204, 0.1);
  background-image: url(feature-bg.jpg);

  margin-bottom: 2rem;
}

.feature-section h1 {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.feature-section p {
  color: var(--color-white);
  font-size: 1.2rem;
}

.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  gap: 1.5rem;

  border-radius: 0 54px 0 54px;
  box-shadow: 0 6px 8px #e9a5f19c, 1px 2px 12px 1px #e9a5f16b;

  background-color: var(--color-white);
  transition: transform ease 0.3s;
}
.card-2 {
  border-radius: 54px 0 54px 0;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card-icon {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-card-icon img {
  width: 50px;
}
.feature-card-content {
  text-align: start;
}

.feature-card p {
  color: var(--color-text-primary);
  width: 300px;
  text-align: center;
}

/* price section  */

.price .container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  background: var(--color-primary-dark);
  background: linear-gradient(
    149deg,
    var(--color-primary-dark) 0%,
    var(--color-primary) 50%,
    var(--color-accent) 100%
  );

  margin-bottom: 2rem;
}

.price .container h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: var(--color-white);
}
.price .container p {
  font-size: 1.2rem;
  color: var(--color-white);
}
@media (max-width: 880px) {
  .price .container h1 {
    font-size: 2.2rem;
  }
}

.price-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.price-card {
  position: relative;
  background-color: var(--color-white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0 54px 0 54px;
  transition: transform ease 0.3s;
}

.price-card:hover {
  transform: translateY(-5px);
}

.plan {
  font-weight: bold;
  top: 46px;
  text-align: center;
  left: -92px;
  font-size: 1.2rem;
  color: var(--color-white);
  position: absolute;
  border-radius: 25px 25px 0 0;
  padding: 10px 0px;
  width: 140px;
  rotate: 270deg;
  background: var(--color-secondary);
}
.plan-price {
  font-size: 2rem;
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.price-card h3 {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.plan-features {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.plan-features li:nth-child(even) {
  background-color: var(--color-secondary);
}
.plan-features li:nth-child(odd) {
  background-color: var(--color-surface);
}
.plan-features li:first-child {
  border-radius: 8px 8px 0 0;
}

.plan-features li:last-child {
  border-radius: 0 0 8px 8px;
}

.plan-features li {
  width: 250px;
  padding: 10px;
}

.plan-features i {
  color: var(--color-primary-dark);
}

/* review section of argenix*/

.ar-review-div .container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  padding: 2rem;
  background: #000000;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(49, 139, 235, 1) 50%,
    rgba(151, 26, 235, 1) 100%
  );
}
.ar-review-div .container h1 {
  font-size: 2.5rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.ar-review-div .container p {
  color: var(--color-white);
}
.review-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.review-card {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.459);
  padding: 2rem;

  border-radius: 8px;
  transition: transform ease 0.3s;
}
.user-image {
  position: absolute;
  top: -35px;
  left: -25px;
}
.user-image img {
  width: 70px;
  border: 3px solid white;
  border-radius: 100%;
}

.review-card p {
  max-width: 280px;
}
.review-card h3 {
  color: var(--color-white);
}

.star-div {
  color: var(--color-primary-dark);
}

.review-card:hover {
  transform: translateY(-5px);
}

/* cta section  */

.cta-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.cta-section .container h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-primary-dark);
}
.cta-section .container p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-text-primary);
}

.cta-section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cta-section-form input {
  border: none;
  box-shadow: 3px 2px 4px 1px var(--color-border);
  max-width: 15rem;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-text-primary);
  border-radius: 20px;
  padding: 0.5rem;
}
.cta-section-form input:focus {
  outline: none;
  border: solid 1px var(--color-accent);
}

.cta-submit-btn {
  font-weight: bold;
  border: none;
  color: var(--color-white);
  padding: 10px 20px;
  width: 200px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(49, 139, 235, 1) 50%,
    rgba(151, 26, 235, 1) 100%
  );
  cursor: pointer;
}
.cta-submit-btn:hover {
  background: linear-gradient(
    135deg,
    rgba(151, 26, 235, 1) 0%,
    rgba(49, 139, 235, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
/* responsive for smaller screen  */
@media (max-width: 600px) {
  .cta-section-form {
    flex-direction: column;
  }
}

/* footer section  */

footer .container {
  background: linear-gradient(
    135deg,
    rgba(151, 26, 235, 1) 0%,
    rgba(49, 139, 235, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 100px 100px 0 0;
  padding: 2.5rem;
}

.footer-section-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.footer-section-col p {
max-width: 250px;
  color: var(--color-accent);
}

.footer-section-col {
  align-self: baseline;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  flex-direction: column;
  text-align: start;
}
.footer-section-col ul {
  list-style: none;
}
.footer-section-col ul li {
  margin: 1rem 0;
}
.footer-section-col a {
  text-decoration: none;
  color: var(--color-white);
}
.footer-section-col a:hover {
  color: var(--color-accent);
}

.footer-section-col h4 {
  font-size: 1.4rem;
  color: var(--color-secondary);
}

.footer-bottom {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border-top: 1px solid var(--color-white);
  color: var(--color-white);
  margin-top: 10px;
}
.footer-bottom span {
  color: var(--color-secondary);
}
/*responsive*/
@media (max-width: 600px) {
  .footer-section-content {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .footer-bottom {
    text-align: center;
  }
}
